<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_TW</string>
		<string>ja</string>
		<string>ko</string>
		<string>it</string>
		<string>de</string>
		<string>fr</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3198209400533680~4067517029</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
